# [Prisma] Connection string tunggal, menggantikan DB_HOST/DB_USER/dst terpisah
DATABASE_URL="mysql://root:@localhost:3306/db_kampus"

PORT=3000

# [Pertemuan 13 - Bagian 4] JWT
JWT_SECRET=ganti_dengan_secret_yang_panjang_dan_sulit_ditebak
JWT_EXPIRES_IN=2h

# Sesuaikan dengan port frontend Next.js kamu (dipakai untuk CORS)
APP_URL=http://localhost:3001

# [Pertemuan 15 - Bagian 8] SMTP Gmail (opsional, hanya jika pakai forgot-password via email)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=nama.email@gmail.com
MAIL_PASS=app_password_16_karakter
